.card__file {
  &-item {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #f0eff5 !important;
    border-radius: 3px;
  }
  &-img {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(114, 105, 239, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    .img-icon {
      font-size: 20px;
      color: rgba(114, 105, 239);
    }
  }
  &-content {
    flex-grow: 1;
  }
  &-title {
    margin: 0;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }
  &-size {
    margin: 0;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
  }
  &-down {
    cursor: pointer;
    margin-right: 15px;
  }
}
