.profile {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #495057;
    font-weight: 600;
    padding: 24px;
    &-text {
      margin: 0;
      font-size: 21px;
      font-weight: 600;
    }
    &-icon {
      font-size: 14px;
    }
  }
  &__desc {
    padding: 24px;
    &-text {
      margin: 0;
      margin-bottom: 24px;
      font-weight: 400;
      color: #495057;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .rc-collapse-content-box {
    margin-top: 0 !important;
  }
  .rc-collapse-header {
    padding: 8px 20px !important;
  }
  .rc-collapse {
    background-color: transparent;
    border-radius: 0;
    border: none;
  }
  .rc-collapse-item {
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #e7e8e9 !important;
    border-radius: 3px;
  }
  &__header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    &-text {
      display: flex;
      align-items: center;
      color: #495057;
      font-size: 14px;
      font-weight: 600;
    }
    &-icon {
      margin-right: 5px;
    }
  }
}
