.avatar-user {
  text-align: center;
  padding: 24px;
  border-bottom: 1px solid #f0eff5;
  .avatar__img {
    border: 2px solid #fff;
    height: 70px;
    width: 70px;
  }
}
.avatar {
  &__proper {
    margin-bottom: 15px;
  }
  &__name {
    margin: 0;
    font-size: 16px;
    color: #495057;
    margin-bottom: 3px;
    font-weight: 600;
  }
  .actives {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: #495057;
    font-size: 12px;
    margin: 0;
    &__icon {
      font-size: 8px;
      color: rgba(6, 214, 160);
      margin-right: 5px;
    }
  }
}
