.help {
  padding: 4px;
  &__item {
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #f0eff5;
    &:last-child {
      border-bottom: none;
    }
    &-name {
      display: inline;
      cursor: pointer;
      color: #7a7f9a;
      margin: 0;
      margin-bottom: 3px;
      font-size: 14px;
    }
  }
}
