.group {
  &__list {
    margin: 0;
    padding: 24px;
    &-item {
      display: flex;
      align-items: center;
    }
    &-logo {
      margin: 0;
      margin-right: 20px;
      padding: 10px;
      font-size: 16px;
      background-color: rgba(114, 105, 239, 0.25);
      font-weight: 500;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #7269ef;
      border-radius: 50%;
    }
    &-name {
      flex-grow: 1;
      color: #495057;
      font-size: 14px;
      font-weight: 600;
    }
    &-member {
      font-size: 10px;
      background-color: rgba(239, 71, 111, 0.18);
      color: #ef476f;
      border-radius: 3px;
      padding: 3px 6px;
    }
  }
}
