.avatar {
  left: 0;
  position: relative;
  right: 0;
  top: 0;
  .on-line {
    border: 2px solid #fff;
    border-radius: 50%;
    bottom: 0;
    height: 10px;
    left: auto;
    position: absolute;
    right: 0;
    width: 10px;
    background-color: #06d6a0;
    text-align: center;
  }
  img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }
}
